{% extends "theme.html" %}

{% block title %}
Example Database Page
{% endblock %}

{% block body %}
<h1>HI from Example Database Connection</h1>
<p>{{ person.name }} is {{ person.age}} years old.</p>

{% endblock %}
